checker/*
.gitmodules

!checker/activedates
!checker/blocks
!checker/data
!checker/groups
!checker/links
!checker/quiz
!checker/referencesettings
!checker/subheadings
!checker/userdata

!checker/activedates/*
!checker/blocks/*
!checker/data/*
!checker/groups/*
!checker/links/*
!checker/quiz/*
!checker/referencesettings/*
!checker/subheadings/*
!checker/userdata/*
